/* <uniquifier>: Use a uniquifier for the class name
   <weight>: Use a value from 300 to 900 

.merienda-<uniquifier> {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

body {
    background: #E0F2FE;
}

.contenedor {
    display: grid;
    grid-template-columns: 4vi 4vi 55vi 52vi;
    grid-template-rows: 5vh 7vh 76vh
}

.frame6 {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 170%;

}

.logo {
    width: 48px;
}

.input {
    grid-column: 2/4;
    grid-row: 3/4;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 32px 22px 32px 0PX;
    width: 100vh;

}

.entrada-texto {
    width: 55vi;
    height: 52vh;
    font-size: 16PX;
    font-family: "Merienda", cursive;
    color: #0369A1;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
}

#exclamacion {
    margin: 0px 5px 0px 0px;
}

.info {
    text-align: left;
    vertical-align: top;
    font-family: "Merienda", cursive;
    font-size: 12;
    color: rgba(73, 80, 87, 0.726);
}

.btn-encrip-desencrip {
    display: flex;
    justify-content: space-around;
    width: 55vi;
    height: 67px;
    top: 885px;
    left: 240px;
    gap: 24px;
}

.encriptar {
    width: 45vw;
    height: 67px;
    font-family: "Merienda", cursive;
    cursor: pointer;
    font-size: 16px;
    color: #F0F9FF;
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #0369A1;
    padding: 24px;
    gap: 8px;
    background-color: #0369A1;

}

.encriptar:hover {
    transition-duration: 3s;
    transform: scale(1.1);
}

.desencriptar {
    width: 45vw;
    height: 67px;
    font-family: "Merienda", cursive;
    cursor: pointer;
    font-size: 16px;
    color: #0369A1;
    border-radius: 24px;
    border: 1PX;
    border-style: solid;
    padding: 24px;
    gap: 8px;
    border-color: #2677A3;
    background-color: #BAE6FD;
}

.desencriptar:hover {
    transition-duration: 3s;
    transform: scale(1.1);
}

.salida {
    grid-column: 4/5;
    grid-row: 2/3;
    background: #F0F9FF;
    border-radius: 32px;
    width: 400px;
    height: 81vh;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 0px 24px 32px -8px rgba(7, 89, 133, 0.562);
}

.salida-texto {
    width: 100%;
    height: 48vh;
    font-family: "Merienda", cursive;
    font-size: 16px;
    color: #0369A1;
    background-color: #F0F9FF;
    background-image: url(resources/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    resize: none;
}



.leyendas {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#leyenda {
    font-family: "Merienda", cursive;
    font-size: 19px;
    text-align: center;
    line-height: 9vh;
    font-weight: bold;
    top: 10vh;
}

#leyenda1 {
    font-family: "Merienda", cursive;
    text-align: center;
    top: 64vh;
    color: rgba(73, 80, 87, 0.726);
}

.copiar {
    width: 328px;
    height: 67px;
    font-size: 16px;
    font-family: "Merienda", cursive;
    cursor: pointer;
    color: #F0F9FF;
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #0369A1;
    padding: 24px;
    gap: 8px;
    background-color: #0369A1;
    visibility: hidden;
}

.copiar:hover {
    transition-duration: 3s;
    transform: scale(1.1);
}

footer {
    padding: 10px;
    text-align: center;

}

.redes {
    width: 30px;
    margin: 10px 2px 0px 2px;
}

.redes:hover {
    transform: scale(1.2);
}


/*Vista para Tablet */
@media (min-width:350px) and (max-width:768px) {

    .contenedor {
        display: grid;
        grid-template-columns: 4vi 4vi 92vi 4vi;
        grid-template-rows: 5vh 7vh 45vh 45vh
    }

    .input {
        grid-column: 2/4;
        grid-row: 3/4;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        padding: 15px 22px 15px 0PX;
    }

    .entrada-texto {
        width: auto;
        height: 20vh;
    }

    .btn-encrip-desencrip {
        display: flex;
        justify-content: space-around;
        width: auto;
        height: 47px;
    }

    .encriptar {
        width: 45vw;
        height: 47px;
        text-align: center;
        padding: 2px;
    }

    .desencriptar {
        width: 45vw;
        height: 47px;
        text-align: center;
        padding: 2px;
    }

    .salida {
        grid-column: 2/4;
        grid-row: 4/5;
        width: auto;
        height: 40vh;
        margin-right: 22px;
    }

    .salida-texto {
        width: 100%;
        height: 10vh;
        background-image: none;
    }

    .copiar {
        width: auto;
        height: 47px;
        padding: 2px;
    }

}